@font-face {
  font-family: "iconfont"; /* Project id 3540987 */
  src: url('./iconfont.woff2?t=1658627220765') format('woff2'),
       url('./iconfont.woff?t=1658627220765') format('woff'),
       url('./iconfont.ttf?t=1658627220765') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linggan:before {
  content: "\e68d";
}

.icon-tips_chat:before {
  content: "\e60f";
}

.icon-notebook_bookmarked:before {
  content: "\e629";
}

.icon-cookbook:before {
  content: "\ec10";
}

.icon-ibooks:before {
  content: "\e632";
}

.icon-a-026-highlighter:before {
  content: "\e625";
}

.icon-question-fill:before {
  content: "\e669";
}

.icon-magic:before {
  content: "\e771";
}

.icon-a-Additionalquantity:before {
  content: "\e6f6";
}

.icon-moshubang:before {
  content: "\ec5b";
}

.icon-sample_grid:before {
  content: "\e61c";
}

.icon-whatshot:before {
  content: "\eda8";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-vuejs:before {
  content: "\e849";
}

.icon-jest:before {
  content: "\ebda";
}

